{% set title = "Галерея" %}
{% extends "layout.html" %}
{% block content %}

<div class="bg_img" style="background-image:url(img/bg_galery.jpg);"></div>
<div class="galery_wrap">
    <div class="galery_top">
        <h1>Галерея</h1>
        <ol class="breadcrumb">
            <li><a href="#">Главная</a></li>
            <li>Галерея</li>
        </ol>
        <ul class="galery_menu">
            <li><a href="#gallery_tab_2" data-toggle="tab">Центральный офис продаж</a></li>
            <li class="active"><a href="#gallery_tab_1" data-toggle="tab">Застройки</a></li>
        </ul>
    </div>
    <div class="tab-content">
        

    {% for i in range(1,3) %}
         <div class="tab-pane fade{% if i === 1 %} in active{% endif %}" id="gallery_tab_{{i}}">
             <div class="galery_list swiper-container">

                 <div class="swiper-wrapper">
                     
                     <div class="swiper-slide galery_item"><a href="http://placehold.it/1600x900" data-fancybox="gal_{{i}}" data-options='{"caption":"{{i}} - 1 ЖК «Летний Сад» расположен в Дмитровском районе Москвы"}'><img src="/img/pushers/92x64.gif" class="galery_pic" style="background-image: url(img/trash_galery_1.jpg);" alt=""></a></div>

                     <div class="swiper-slide galery_item"><a href="http://placehold.it/1144x758" data-fancybox="gal_{{i}}" data-options='{"caption":"{{i}} - 2 ЖК «Летний Сад» расположен в Дмитровском районе Москвы"}'><img src="/img/pushers/92x64.gif" class="galery_pic" style="background-image: url(img/trash_galery_2.jpg);" alt=""></a></div>

                     <div class="swiper-slide galery_item"><a href="http://placehold.it/1200x800" data-fancybox="gal_{{i}}" data-options='{"caption":"{{i}} - 3 ЖК «Летний Сад» расположен в Дмитровском районе Москвы"}'><img src="/img/pushers/92x64.gif" class="galery_pic" style="background-image: url(img/trash_galery_3.jpg);" alt=""></a></div>

                     <div class="swiper-slide galery_item"><a href="http://placehold.it/768x1024" data-fancybox="gal_{{i}}" data-options='{"caption":"{{i}} - 4 ЖК «Летний Сад» расположен в Дмитровском районе Москвы"}'><img src="/img/pushers/92x64.gif" class="galery_pic" style="background-image: url(img/trash_galery_1.jpg);" alt=""></a></div>

                     <div class="swiper-slide galery_item"><a href="http://placehold.it/320x480" data-fancybox="gal_{{i}}" data-options='{"caption": "{{i}} - 5 ЖК «Летний Сад» расположен в Дмитровском районе Москвы"}'><img src="/img/pushers/92x64.gif" class="galery_pic" style="background-image: url(img/trash_galery_2.jpg);" alt=""></a></div>

                     <div class="swiper-slide galery_item"><a href="http://placehold.it/1920x1080" data-fancybox="gal_{{i}}" data-options='{"caption": "{{i}} - 6 ЖК «ЛЕТНИЙ САД» РАСПОЛОЖЕН В ДМИТРОВСКОМ РАЙОНЕ МОСКВЫ"}'><img src="/img/pushers/92x64.gif" class="galery_pic" style="background-image: url(img/trash_galery_3.jpg);" alt=""></a></div>

                 </div>
             </div>
            <div class="galery_controls">
                <a href="#" class="prev"></a>
                <div class="count">&nbsp; / &nbsp;</div>
                <a href="#" class="next"></a>
            </div> 
         </div>   
    {% endfor %}

    </div>
    

    
</div>
{% endblock %}

{% block page_bottom %}

<script>
(function() {




    $(".galery_list").each(function(index, el) {

        let $el = $(el);
        let $controls = $el.next(".galery_controls:first");

        new Swiper(el, {
            slidesPerView: 4,
            centeredSlides: true,
            initialSlide: 0,
            loopedSlides: $el.find(".galery_item").length,
            loop: true,
            nextButton: $controls.find(".next"),
            prevButton: $controls.find(".prev"),
            pagination: $controls.find('.count'),
            paginationType: 'fraction',
            observer: true,
            observeParents: true,
        })
    });

    //let lineGalleryInstance =



})();
</script>

{% endblock %}