<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/vendor.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bxslider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="bd">
        <div id="hd">
            <div class="logo">
                <a href="#" title=""><img src="img/logo.png" alt=""></a>
                <span class="elips_1"></span>
                <span class="elips_2"></span>
            </div>
            <ul class="menu">
                <li>
                    <a href="#">ЖИЛОЙ КОМПЛЕКС</a>
                    <ul class="submenu">
                        <li><a href="#">о проекте</a></li>
                        <li><a href="#">Расположение</a></li>
                        <li><a href="#">Инфраструктура</a></li>
                        <li><a href="#">Видео о проекте</a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">3d тур</a></li>
                        <li><a href="#">Преимущества</a></li>
                        <li><a href="#">застройщик</a></li>
                        <li><a href="#">бюллетень строительства</a></li>
                        <li><a href="#">новости</a></li>
                    </ul>
                </li>
                <li><a href="#">ВЫБОР КВАРТИРЫ</a></li>
                <li><a href="#">АКЦИИ</a></li>
                <li><a href="#">ИПОТЕКА</a></li>
                <li>
                    <a href="#">НЕЖИЛЫЕ ПОМЕЩЕНИЯ</a>
                    <ul class="submenu">
                        <li><a href="#">Коммерческая недвижемость</a></li>
                        <li><a href="#">паркинг</a></li>
                    </ul>
                </li>
                <li><a href="#">ДНЕВНИК СТРОЙКИ</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
            <div class="phone">+7 495 480 78 00</div>
        </div>
        {% block content %}{% endblock %}
        <a href="#" class="call_me"></a>
        <div class="empty_box"></div>
    </div>
    <div id="ft">
        <ul class="menu">
            <li><a href="#" title="" target="_blank" class="soc fb"></a></li>
            <li><a href="#" title="" target="_blank" class="soc vk"></a></li>
            <li><a href="#" title="" target="_blank" class="soc insta"></a></li>
            <li><a href="#" title="" target="_blank" class="soc youtube"></a></li>
            <li><a href="#" title="" target="_blank" class="soc googlePlus"></a></li>
            <li><a href="#" title="" target="_blank" class="soc telegram"></a></li>
            <li><a href="#" class="text">ДОКУМЕНТЫ</a></li>
            <li><a data-fancybox data-src="#othersProjectModal" href="javascript:void(0);" class="text footer_request-call" data-targ="other_proj">Другие проекты</a></li>
        </ul>
        <div class="copy main">
            <a href="#" title="" target="_blank"><img src="img/logo_etalon.png" alt=""></a> &copy; 2015 Эталон-Инвест
            <span class="small">Любая информация, размещенная на сайте, не является публичной офетой</span>
        </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/common.js"></script>


<div id="othersProjectModal" style="display: none;">
    <div class="other_proj-block">
        <a href="http://www.izumrudnie-holmi.ru/" target="_blank"><div class="other_proj n1"></div></a>
        <a href="https://etaloncity.ru/" target="_blank"><div class="other_proj n2"></div></a>
        <a href="http://etalonzvezda.ru/" target="_blank"><div class="other_proj n3"></div></a>
        <a href="http://etalonnormand.ru/" target="_blank"><div class="other_proj n4"></div></a>
        <a href="http://etalonsilver.ru/" target="_blank"><div class="other_proj n5"></div></a>
    </div>
</div>


    {% block page_bottom %}{% endblock %}
</body>

</html>