/*#bd { background:green;}
.container { background:yellow;}
#ft { background:red;}*/

@font-face {
    font-family:'HeliosCond';
    src:url('../fonts/HeliosCond.eot');
    src:url('../fonts/HeliosCond.eot') format('embedded-opentype'),
		url('../fonts/HeliosCond.woff') format('woff'),
		url('../fonts/HeliosCond.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family:'HeliosCond';
    src:url('../fonts/HeliosCondBold.eot');
    src:url('../fonts/HeliosCondBold.eot') format('embedded-opentype'),
		url('../fonts/HeliosCondBold.woff') format('woff'),
		url('../fonts/HeliosCondBold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

@font-face {
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondPro.eot');
    src:url('../fonts/PFDinTextCondPro.eot') format('embedded-opentype'),
		url('../fonts/PFDinTextCondPro.woff') format('woff'),
		url('../fonts/PFDinTextCondPro.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family:'PFDinTextCondPro';
    src:url('../fonts/PFDinTextCondProMedium.eot');
    src:url('../fonts/PFDinTextCondProMedium.eot') format('embedded-opentype'),
		url('../fonts/PFDinTextCondProMedium.woff') format('woff'),
		url('../fonts/PFDinTextCondProMedium.ttf') format('truetype');
	font-weight:500;
	font-style:normal;
}

a, a:hover { color:#3c3b3b;}
ul li{list-style:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,ul,ol{margin:0;padding:0;}
input, textarea { outline:none; width:100%; background:#fff; border:1px solid #d0d0d0; font-size:16px;}
input { height:42px; line-height:40px; padding:0 13px;}
	input.error { border-color:#e62646;}
	.error_text { font-size:13px; line-height:20px; color:#e62646;}
input[type=submit], input[type=button] { display:block;  width:205px; height:55px; margin:0 auto; padding:0; background:#f03840; border-radius:27px; color:#fff; text-transform:uppercase; text-align:center; line-height:55px;}

h1 { font-size:38px; line-height:1; letter-spacing:0; margin-bottom:10px;}
h2 { font-size:20px; color:#f7931e; margin-bottom:10px;}
h5 { font-weight:bold; font-size:1em;}
b { font-weight:bold;}

html, body { height:100%; font:15px/1.2 'HeliosCond'; letter-spacing:0.02em; color:#3c3c3c;}
html { min-width:1280px; min-height:800px;}
body{ min-height:100%; background:#fff;}
#bd { min-height:100%; position:relative; overflow:hidden;}
	#bd .empty_box { height:70px; clear:both;}
#hd { height:199px; background:url(../img/bg_hd_shadow.png) left top repeat-x; position:relative; color:#fff; text-transform:uppercase; letter-spacing:0.025em; z-index:3;}
	#hd .logo { position:absolute; left:0; top:0; width:198px; height:175px; overflow:hidden;}
		#hd .logo a { position:absolute; right:13px; bottom:13px; width:208px; height:208px; border-radius:104px; background:#fff; padding:68px 0 0 56px; z-index:1;}
		#hd .logo .elips_1 { position:absolute; right:7px; bottom:7px; width:218px; height:218px; border-radius:109px; border:1px solid rgba(255,255,255,0.5);}
		#hd .logo .elips_2 { position:absolute; right:0; bottom:0; width:232px; height:232px; border-radius:116px; border:1px solid rgba(255,255,255,0.25);}
	#hd .phone { position:absolute; right:40px; top:37px; width:190px; height:33px; padding-left:37px; background:rgba(0,159,220,0.9); border-radius:17px; font:bold 18px/33px 'HeliosCond'; color:#fff;}
	#hd .phone:before { content:''; position:absolute; left:3px; top:3px; width:27px; height:27px; border-radius:14px; background:url(../img/icon_hd_phone.png) center no-repeat #fff;}
	#hd .menu { position:absolute; left:50%; top:49px; -webkit-transform:translateX(-50%); transform:translateX(-50%); font-size:0; line-height:0; white-space:nowrap;}
		#hd .menu li { display:inline-block; margin-left:20px; position:relative; font:14px/1 'PFDinTextCondPro';}
		#hd .menu li:before { content:''; position:absolute; left:-13px; top:4px; width:4px; height:4px; border-radius:2px; background:#399ce3;}
			#hd .menu li:first-child { margin:0;}
			#hd .menu li:first-child:before { display:none;}
		#hd .menu a { color:#fefefe; text-decoration:none; -webkit-transition:color 0.3s ease; transition:color 0.3s ease;}
		#hd .menu a:hover, #hd .menu .active { color:#f7931e;}
		#hd .menu li:hover .submenu { opacity:1; visibility:visible;}
	#hd .submenu { width:215px; padding:20px 20px 10px; background:#fff; border-radius:4px; box-shadow:0 0 5px rgba(0,0,0,0.1); position:absolute; left:50%; top:calc(100% + 12px); -webkit-transform:translateX(-50%); transform:translateX(-50%); white-space:normal; opacity:0; visibility:hidden; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
	#hd .submenu:before { content:''; position:absolute; left:50%; top:-16px; margin-left:-8px; border:8px solid transparent; border-bottom:8px solid #fff;}
		#hd .submenu li { display:block; margin:0 0 11px !important; text-align:center; font-weight:500;}
			#hd .submenu li:before { display:none;}
		#hd .submenu a { color:#5d6274;}
#ft { height:66px; margin:-66px auto 0; padding:0; font:14px/1 'PFDinTextCondPro'; color:#fff; background:url(../img/bg_ft_shadow.png) left top repeat-x; position:relative; z-index:2;}
	#ft .menu { position:absolute; left:40px; top:19px;}
		#ft .menu li { float:left; margin-right:12px;}
			#ft .menu .text { display:inline-block; height:32px; line-height:32px; padding:0 22px; border:1px solid #2882a6; border-radius:16px; text-transform:uppercase; text-decoration:none; color:#2882a6;}
		#ft .soc { display:block; width:32px; height:32px; border-radius:16px; background-position:center; background-repeat:no-repeat;}
		#ft .fb { background-color:#3b5998; background-image:url(../img/icon_ft/fb.png);}
		#ft .vk { background-color:#507398; background-image:url(../img/icon_ft/vk.png);}
		#ft .insta { background-color:#e2405d; background-image:url(../img/icon_ft/insta.png);}
		#ft .youtube { background-color:#e62117; background-image:url(../img/icon_ft/youtube.png);}
		#ft .googlePlus { background-color:#db4437; background-image:url(../img/icon_ft/googlePlus.png);}
		#ft .telegram { background-color:#2ca5e0; background-image:url(../img/icon_ft/telegram.png); margin-right:9px;}
	#ft .copy { position:absolute; right:40px; top:-4px; font-size:15px; text-align:right;}
		#ft .copy img { vertical-align:bottom; top:-2px; margin-right:20px; position:relative; opacity:0; cursor:default;}
			#ft .copy.main img { opacity:1; cursor:pointer;}
		#ft .copy .small { display:block; font-size:12px; margin-top:7px;}
	#ft .copy.dark { color:#353535;}

.bg_img { position:absolute; left:0; top:0; width:100%; height:100%; background-position:center; background-repeat:no-repeat; background-size:cover; z-index:1;}
.container { max-width:900px; width:100%; height:calc(100% - 230px); margin:0; padding:0; position:absolute; left:50%; top:145px; -webkit-transform:translateX(-50%); transform:translateX(-50%); background:url(../img/bg_cont.jpg) center top no-repeat #fcfcfc; border-radius:5px; z-index:2;}
	.container_head { height:130px; padding:35px 40px 0; position:relative;}
	.container_content { height:calc(100% - 130px); padding:25px 25px 40px 70px; box-shadow:inset 0 0 5px rgba(26,26,26,0.08);}
	.container_text { height:100%; padding-right:45px;}
.row { position:relative;}
	.row p { margin-bottom:15px;}
.breadcrumb { padding:0; margin:0; background:none; border-radius:0; font:14px/1 'PFDinTextCondPro'; color:#f7931e;}
	.breadcrumb a { color:#929292; text-decoration:underline;}
	.breadcrumb>.active { color:#f7931e;}
.call_me { position:absolute; right:40px; bottom:66px; background:url(../img/icon_ft_phone.png) center no-repeat; width:65px; height:65px; z-index:10;}

.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}

.mainSlide_wrap { position:absolute; left:0; top:0; width:100%; height:100%;}
.mainSlide { width:100%; height:100%;}
	.mainSlide .item { width:100%; height:100%; background-position:center; background-repeat:no-repeat; background-size:cover; font-weight:bold; font-size:30px; line-height:1.2; color:#fff; text-transform:uppercase; letter-spacing:0.025em;}
	.mainSlide .text { position:absolute; left:40px; bottom:150px; padding-top:90px; max-width:535px;}
	.mainSlide .text img { position:absolute; left:0; top:0;}
.main_adv_menu { position:absolute; right:65px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); margin-top:-20px; background:url(../img/bg_curve.png) center no-repeat; width:77px; height:800px; font-weight:bold; font-size:20px; line-height:24px; letter-spacing:0.025em; text-align:right; z-index:2;}
	.main_adv_menu_item { position:absolute; top:50%; height:50px; padding-right:70px; width:255px; color:#fff;}
		.main_adv_menu_item.item_1 { right:-21px; margin-top:-143px;}
		.main_adv_menu_item.item_2 { right:-20px; margin-top:-50px;}
		.main_adv_menu_item.item_3 { right:-24px; margin-top:42px;}
		.main_adv_menu_item.item_4 { right:-13px; margin-top:135px;}
	.main_adv_menu_item .icon { position:absolute; right:0; top:0; width:50px; height:50px; border-radius:25px; background-color:#00a0de; background-position:center; background-repeat:no-repeat; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
	.main_adv_menu_item .icon:before { content:''; position:absolute; left:-5px; top:-5px; width:60px; height:60px; border:1px solid rgba(247,147,30,0.7); border-radius:30px; opacity:0; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
		.main_adv_menu_item.item_1 .icon { background-image:url(../img/icon_key.png);}
		.main_adv_menu_item.item_2 .icon { background-image:url(../img/icon_tradeIn.png);}
		.main_adv_menu_item.item_3 .icon { background-image:url(../img/icon_heart.png);}
		.main_adv_menu_item.item_4 .icon { background-image:url(../img/icon_galery.png);}
	.main_adv_menu_item .text { display:inline-block; position:relative; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
	.main_adv_menu_item:hover { color:#fff;}
		.main_adv_menu_item:hover .icon { background-color:#f7931e;}
		.main_adv_menu_item:hover .icon:before { opacity:1;}
.opinion_yt_link { position:absolute; right:40px; top:40px; width:56px; height:56px;}
	.opinion_yt_link_icon { display:block; width:56px; height:56px; border-radius:28px; background:url(../img/icon_youtube.png) center no-repeat #f03840; position:relative; z-index:1;}
	.opinion_yt_link_text { position:absolute; right:40px; top:50%; margin-top:-17px; height:33px; padding:0 25px 0 20px; background:rgba(240,56,64,0.05); border-radius:17px; font:500 14px/33px 'PFDinTextCondPro'; color:#f03840; text-transform:uppercase; white-space:nowrap;}
.contacts_wrap { position:absolute; left:0; top:0; width:100%; height:100%;}
	.contacts_list { position:absolute; right:40px; top:199px; width:474px; z-index:11;}
	.contacts_list .panel { border:none;}
		.contacts_name { position:relative;}
		.contacts_name:after { content:''; position:absolute; right:13px; top:50%; background:url(../img/icon_str_bottom.png) center no-repeat; width:20px; height:11px; margin-top:-6px;}
		.contacts_name[aria-expanded=true]:after { -webkit-transform:rotate(180deg); transform:rotate(180deg); transform-origin:center;}
			.contacts_name a { display:block; height:60px; padding:0 25px; font-size:20px; line-height:60px; letter-spacing:0.05em; text-decoration:none;}
				.contacts_name[aria-controls=contacts_1] a { color:#ec1d23;}
				.contacts_name[aria-controls=contacts_2] a { color:#f7931e;}
				.contacts_name[aria-controls=contacts_3] a { color:#8f3e97;}
					.contacts_name.collapsed a { color:#131313;}
	.contacts_item { margin:0; border-radius:2px; border:none;}
	.contacts_item+.contacts_item { box-shadow:inset 0 0 3px rgba(0,0,0,0.05);}
		.contacts_item .panel-collapse { font-size:15px; line-height:24px; padding:20px 40px; background:#fcfcfc; box-shadow:inset 0 0 5px rgba(0,0,0,0.05); border-left:5px solid #fff;}
			#contacts_1 { border-left-color:#ec1d23;}
			#contacts_3 { border-left-color:#c885cf;}
		.contacts_item img { max-width:100%;}
	.contacts_maps { height:100%;}
		.contacts_maps .map { height:100%;}
		.contacts_maps .marker { position:absolute; z-index:3;}
	
	.c_office_list { margin:-20px -40px -20px -45px;}
		.c_office_list .scrollbar { max-height:310px; height:100%; padding-right:40px; position:relative;}
		.c_office_list .tab-pane { padding:20px 20px 20px 40px; border-left:5px solid #fff;}
			#contacts_2_1_1 { border-color:#66c4ea;}
				#contacts_2_1_1 h2 { color:#009fdc;}
			#contacts_2_1_2 { border-color:#54c67f}
				#contacts_2_1_2 h2 { color:#0db04a;}
			#contacts_2_1_3 { border-color:#f2ac5b;}
	.marker_office { position:absolute; width:96px; height:90px; opacity:0.6; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
	.marker_office:after { content:''; position:absolute; left:0; top:0; width:96px; height:90px; background:url(../img/icon_marker_shadow.png) center no-repeat;}
		.marker_office_link { position:absolute; left:0; top:0; width:96px; height:90px; background-position:left top; background-repeat:no-repeat; z-index:2;}		
			.marker_1 .marker_office_link { background-image:url(../img/icon_marker_blue.png);}
			.marker_2 .marker_office_link { background-image:url(../img/icon_marker_green.png);}
			.marker_3 .marker_office_link { background-image:url(../img/icon_marker_orange.png);}
		.marker_office.active, .marker_office:hover { opacity:1;}
		.marker_office_text { position:absolute; left:47px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); margin-top:-5px; padding:5px 25px 5px 40px; border-radius:0 22px 22px 0; font-size:14px; color:#fff; opacity:0; visibility:hidden; z-index:1; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
			.marker_1 .marker_office_text { background:#66c4ea;}
			.marker_2 .marker_office_text { background:#54c67f;}
			.marker_3 .marker_office_text { background:#f2ac5b;}
		.marker_office:hover .marker_office_text { opacity:1; visibility:visible;}
	.marker_office_r { position:absolute; width:70px; height:65px; background:url(../img/icon_marker_violet.png) center no-repeat;}

	.r_office { margin-right:-20px;}
		.r_office .scrollbar { max-height:310px; height:100%; padding-right:40px; position:relative;}
		.r_office h2 { color:#8f3e97;}
	.r_office_list { font-size:20px; line-height:1; text-transform:uppercase;}
		.r_office_list li+li { margin-top:15px;}
		.r_office_list a:hover { color:#8f3e97; text-decoration:none;}
	.r_office_person { height:147px; font-size:20px; margin:10px 0 0;}
		.r_office_person .img { float:left; margin-right:15px;}
			.r_office_person .img img { width:153px; height:147px;}
		.r_office_person .text { position:relative; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
		.r_office_person .small { display:block; font-size:14px; color:#8f3e97;}
	.r_office_person:nth-child(odd) .img { float:right; margin-right:0;}
	.back_to_r_office_list { position:absolute; left:0; bottom:-52px; width:170px; height:33px; padding-left:34px; background:url(../img/icon_str_back.png) 12px center no-repeat rgba(143,62,151,0.8); border-radius:16px; font:14px/35px 'PFDinTextCondPro'; color:#fff !important; text-transform:uppercase; text-decoration:none !important;}

.my_way { position:absolute; left:40px; bottom:70px; width:122px; height:122px; border:1px solid rgba(18,162,217,0.5); border-radius:61px;}
	.my_way_link { position:absolute; left:2px; top:2px; width:116px; height:116px; border-radius:58px; background:url(../img/icon_my_way.png) center 15px no-repeat #12a2d9; font-size:12px; color:#fff !important; text-decoration:none !important; padding-top:71px; text-transform:uppercase; text-align:center; z-index:1;}
	.my_way_link.active { background-color:#0db04a;}
	.my_way_text { position:absolute; left:86px; top:25px; width:250px; padding:10px 30px 13px 40px; background:#66c4ea; border-radius:0 26px 26px 0; color:#fff; opacity:0; visibility:hidden; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
		.my_way:hover .my_way_text { opacity:1; visibility:visible;}

.location .contacts_name { background:url(../img/bg_cont.jpg) center no-repeat; border-radius:2px;}
	.location .panel-collapse { line-height:24px; padding:20px 40px; background:#fcfcfc; box-shadow:inset 0 0 5px rgba(0,0,0,0.05);}
	.location .scrollbar { max-height:444px; height:100%; padding-right:40px; position:relative;}
		.location .contacts_name:before { content:'Развернуть'; position:absolute; right:50px; top:50%; margin-top:-9px; color:#9a9696;}
		.location .contacts_name[aria-expanded=true]:before { content:'Свернуть';}
	.marker_location { position:absolute; width:62px; height:58px;}
	.marker_location:after { content:''; position:absolute; left:0; top:0; width:62px; height:58px; background:url(../img/icon_marker_loc_shadow.png) center no-repeat;}
		.marker_location_link { position:absolute; left:0; top:0; width:96px; height:90px; background-position:left top; background-repeat:no-repeat; z-index:2;}		
			.marker_1 .marker_location_link { background-image:url(../img/icon_marker_loc_1.png);}
			.marker_2 .marker_location_link { background-image:url(../img/icon_marker_loc_2.png);}
			.marker_3 .marker_location_link { background-image:url(../img/icon_marker_loc_3.png);}
			.marker_4 .marker_location_link { background-image:url(../img/icon_marker_loc_4.png);}
			.marker_5 .marker_location_link { background-image:url(../img/icon_marker_loc_5.png);}
		.marker_location_text { position:absolute; left:27px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); margin-top:-3px; padding:5px 25px 5px 40px; border-radius:0 22px 22px 0; font-size:14px; color:#fff; white-space:nowrap; opacity:0; visibility:hidden; z-index:1; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
			.marker_1 .marker_location_text { background:#54c67f;}
			.marker_2 .marker_location_text { background:#f2ac5b;}
			.marker_3 .marker_location_text { background:#66c4ea;}
			.marker_4 .marker_location_text { background:#f6d669;}
			.marker_5 .marker_location_text { background:#e8767a;}
		.marker_location:hover .marker_location_text { opacity:1; visibility:visible;}
.contacts_maps .zoom_map { position:absolute; z-index:3;}

.mortage_btn { position:absolute; right:40px; top:50%; height:55px; padding:0 30px; background:#f03840; border-radius:27px; margin-top:-28px; color:#fff !important; text-transform:uppercase; text-align:center; line-height:55px; text-decoration:none !important;}
.banks_list { padding:25px 20px 40px 40px}
	.banks_list .container_text { padding-right:25px;}
.table_b { display:table; width:100%;}
	.table_b .row { display:table-row;}
		.table_b .row:nth-child(even) .col { background:#f1f1f1;}
	.table_b .col { display:table-cell; height:76px; vertical-align:middle; text-align:center; padding:0 20px;}
		.table_b .row_th .col { vertical-align:bottom; padding-bottom:15px; font-size:12px;}
	.table_b img { max-width:120px;}
	.table_b a { text-decoration:underline;}
.mortage_popUp { position:relative; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); width:650px; background:#fcfcfc; border-radius:5px;}
	.mortage_popUp .btn { display:block; width:205px; height:55px; margin:0 auto; padding:0; background:#f03840; border-radius:27px; color:#fff !important; text-transform:uppercase; text-align:center; line-height:55px; text-decoration:none !important;}
	.mortage_popUp_head { background:url(../img/bg_cont.jpg) center no-repeat; height:130px; border-radius:5px 5px 0 0; font-size:36px; color:#333232; text-align:center;}
		.mortage_popUp_head .text { display:block; position:relative; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
		.mortage_popUp_head .small { display:block; font-size:16px; color:#414141; margin-top:5px;}
	.mortage_popUp_content { padding:40px 50px; box-shadow:rgba(26, 26, 26, 0.08) 0px 0px 5px inset; line-height:24px;}
.mortage_form .row { margin-bottom:6px;}
	.mortage_form .col-md-4 { padding-right:9px;}
	.mortage_form input[type=submit] { margin-top:30px;}

.galery_wrap { position:absolute; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); width:100%; overflow:hidden; color:#fff; z-index:2;}
.galery_top { max-width:900px; margin:0 auto 40px; position:relative;}
	.galery_top a { color:#c5c5c5; text-decoration:underline;}
	.galery_menu { position:absolute; right:0; bottom:0; font-size:14px;}
		.galery_menu li { float:left; margin-left:20px;}
		.galery_menu .sel { color:#f7931e; text-decoration:none;}
.galery_list { white-space:nowrap; font-size:0; line-height:0;}
	.galery_item { display:inline-block; vertical-align:top; padding:0 7px; position:relative; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
		.galery_item img { width:100%; max-height:300px;}
		.galery_item a:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
	.galery_item:hover { -webkit-transform:scale(0.98); transform:scale(0.98);}
	.galery_item:hover a:before { background:rgba(35,35,35,0.4);}
.galery_controls { max-width:900px; margin:30px auto 0; position:relative; color:#fefefe; text-align:center; line-height:26px;}
	.galery_controls a { position:absolute; top:0; width:14px; height:26px; background:url(../img/icon_str_galery.png) center no-repeat;}
		.galery_controls .prev { left:0;}
		.galery_controls .next { right:0; -webkit-transform:rotate(180deg); transform:rotate(180deg); transform-origin:center;}
.galery_view { position:relative; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); max-width:78%; max-height:90%; margin:0 auto; padding:0 45px;}
	.galery_view img { width:100%; border-radius:2px;}
	.galery_view .name { width:95%; margin:16px auto 0; color:#c3c3c3; text-align:center;}
	.galery_view .galery_controls { position:absolute; left:0; top:50%; max-width:100%; width:100%; height:1px; margin-top:-13px;}

.action_list { font-size:0; line-height:0; text-align:center; margin:0 -4px;}
	.action_list img { width:100%; max-height:213px;}
	.action_list+.action_list { margin-top:8px;}
	.action_item { padding-right:4px; border-radius:2px; color:#fff !important; overflow:hidden;}
		.action_item+.action_item { padding:0 0 0 4px;}
		.action_item+.action_item .action_name { left:4px;}
	.action_name { position:absolute; left:0; bottom:0; width:calc(100% - 4px); height:76px; border-radius:2px; font-size:20px; line-height:1.2;}
		.action_name .text { display:block; position:relative; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}

.popUP_box { position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(38,38,38,0.7); z-index:100;}
	.popUP_box .close { position:absolute; right:-40px; top:0; background:url(../img/icon_close.png) center no-repeat; width:26px; height:26px; opacity:1;}

.video_popUP { position:relative; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); max-width:73%;}
	